aiogram==2.25.1
aiohttp==3.8.4
asyncache==0.3.1
cachetools==5.3.1
google-auth-oauthlib==1.0.0
gspread-asyncio==1.8.1
phonenumbers==8.13.15
pydantic==1.10.9
python-dateutil==2.8.2
python-escpos==3.0a9
requests==2.31.0
schedule==1.2.0
sqlalchemy-utils==0.41.1
sqlalchemy==2.0.17
