aiogram==2.24
aiohttp==3.8.3
asyncache==0.3.1
cachetools==5.3.0
google-auth-oauthlib==0.8.0
gspread-asyncio==1.7.1
phonenumbers==8.13.4
pydantic==1.10.4
python-dateutil==2.8.2
python-escpos==3.0a8
requests==2.28.2
schedule==1.1.0
sqlalchemy-utils==0.39.0
sqlalchemy==1.4.46
