aiogram~=2.12.1
aiohttp~=3.7.4.post0
cachetools~=4.2.0
escpos~=1.8
google-auth-oauthlib~=0.4.4
gspread-asyncio~=1.4.0
phonenumbers~=8.12.21
pygsheets~=2.0.5
python-dateutil~=2.8.1
requests~=2.25.1
schedule~=1.1.0
SQLAlchemy-Utils~=0.37.0
SQLAlchemy~=1.4.9
